{%extends 'TRCClientBundle::Default/consulter.html.twig'%}
{%block title%}
	Identité || 
	 {{parent()}}         
{%endblock title%}
{%block titre%}
   Ajout d'identité
{%endblock titre%}
{%block position %}
	{{parent()}}
    	<li class="active">
    		<i class="fa fa-angle-right"></i>
    		<i class="fa fa-user"></i>
            <a href="#">
            	Identité
            </a>
        </li>
        
{%endblock position%}
{%block content %}
	{%set value = form.vars.value %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel-default panel">
                <div class="panel-heading">
                    {%if value.id is null %}
                        Ajout de l'identité du client
                    {%else%}
                        Modification de l'identité du client
                    {%endif%}
                </div>
                <div class="panel-body">
                    {{form_start(form)}}
                    <div class="row">
	                    <div class="form-group col-md-4">
	                        <label> Civilité</label>
	                        {{form_widget(form.civilite,{'attr':{'class':'form-control'}})}}
	                    </div>
	                    <div class="form-group col-md-8">
	                        <label> Nom</label>
	                        {{form_widget(form.nom,{'attr':{'class':'form-control'}})}}
	                    </div>
                    </div>
                    <div class="form-group">
                        <label> Prenom</label>
                        {{form_widget(form.prenom,{'attr':{'class':'form-control'}})}}
                    </div>
                    <div class="form-group">
                        <label> Numéro de pièce</label>
                        {{form_widget(form.numeroPiece,{'attr':{'class':'form-control'}})}}
                    </div>
                    <div class="form-group">
                        <label> Pièce</label>
                        {{form_widget(form.piece,{'attr':{'class':'form-control'}})}}
                    </div>
                    <div class="form-group">
                        <label> Pays</label>
                        {{form_widget(form.pays,{'attr':{'class':'form-control'}})}}
                    </div>


                
                </div>
                <div class="panel-footer">
                    <div class="form-group">
                        {{form_widget(form.save)}}
                    </div>
                </div>
                {{form_end(form)}}
            </div>
            
        </div>
    </div>
{%endblock content %}