{%extends 'TRCClientBundle::clients.html.twig'%}
{%block title%}
	 {{client.radical}}         
{%endblock title%}
{%block titre%}
    {{client.intitule}}
{%endblock titre%}
{%block position %}
	{{parent()}}
    	<li class="active">
    		<i class="fa fa-angle-right"></i>
    		<i class="fa fa-user"></i>
            <a href="{{url('trc_client_consulter',{radical:client.radical})}}">
            	{{client.radical}}
            </a>
        </li>
        
{%endblock position%}
{%block content %}
	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-green">
				<div class="panel-heading">
					Identité
					<a class="pull-right" href="{{url('trc_client_identite',{radical:client.radical})}} ">
						<i class="fa-edit fa "></i>
					</a>
				</div>
				<div class="panel-body">
				{%if client.identite is null %}
					<a class="btn btn-xs" href="{{url('trc_client_identite',{radical:client.radical})}} ">
						Renseigner l'identité du client
					</a>
				{%else%}
					{%set iden = client.identite %}
					<table class="table table-condensed">
						<tr>
							<td>Civilité</td>
							<td> {{iden.civilite.nom}} </td>
						</tr>
						<tr>
							<td>Nom</td>
							<td> {{iden.nom}} </td>
						</tr>
						<tr>
							<td>Prenom</td>
							<td> {{iden.prenom}} </td>
						</tr>
						<tr>
							<td>Pièce</td>
							<td> {{iden.piece.nom}} </td>
						</tr>
						<tr>
							<td>Numero de pièce</td>
							<td> {{iden.numeroPiece}} </td>
						</tr>
						<tr>
							<td>Nationalité</td>
							<td>{{iden.pays.nationalité}} [{{iden.pays.nom}}] </td>
						</tr>
					</table>
				{%endif%}
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-red">
				<div class="panel-heading">
					Coordonnées
					<a class="pull-right" href="{{url('trc_client_coordonnee',{radical:client.radical})}} ">
						<i class="fa-edit fa "></i>
					</a>
				</div>
				<div class="panel-body">
				{%if client.coordonnee is null %}
					<a class="btn  btn-danger" href="{{url('trc_client_coordonnee',{radical:client.radical})}} ">
						Renseigner les coordonnées du client
					</a>
				{%else%}
					{%set coor = client.coordonnee %}
					
					<table class="table table-condensed">
						<tr>
							<td>Ville</td>
							<td> {{coor.ville}} </td>
						</tr>
						<tr>
							<td>Boite postale</td>
							<td> {{coor.boitePostale}} </td>
						</tr>
						<tr>
							<td>Tel. Pro</td>
							<td> {{coor.telephoneProfessionnel}} </td>
						</tr>
						<tr>
							<td>Tel. Domicile</td>
							<td> {{coor.telephoneDomicile}} </td>
						</tr>
						<tr>
							<td>Tel. mobile</td>
							<td> {{coor.gsm}} </td>
						</tr>
						<tr>
							<td>Email</td>
							<td> {{coor.email}} </td>
						</tr>
						<tr>
							<td>Adresse</td>
							<td> {{coor.adresse}} </td>
						</tr>
					</table>
				{%endif%}
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-yellow">
				<div class="panel-heading">
					Employeur
					<a class="pull-right" href="{{url('trc_client_employeur',{radical:client.radical})}} ">
						<i class="fa-edit fa "></i>
					</a>
				</div>
				<div class="panel-body">
				{%if client.employeur is null %}
					<a class="btn btn-xs" href="{{url('trc_client_employeur',{radical:client.radical})}} ">
						Renseigner l'employeur du client
					</a>
				{%else%}
					{%set emp = client.employeur %}
					<table class="table table-condensed">
						<tr>
							<td>Dénomination</td>
							<td> {{emp.denomination}} </td>
						</tr>
						<tr>
							<td>Ville</td>
							<td> {{emp.ville}} </td>
						</tr>
						<tr>
							<td>Téléphone</td>
							<td> {{emp.telephone}} </td>
						</tr>
						<tr>
							<td>Fax</td>
							<td> {{emp.fax}} </td>
						</tr>
						<tr>
							<td>Adresse</td>
							<td> {{emp.adressesociale}} </td>
						</tr>
						
					</table>
				{%endif%}
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-orange">
				<div class="panel-heading">
					Profession
					<a class="pull-right" href="{{url('trc_client_profession',{radical:client.radical})}} ">
						<i class="fa-edit fa "></i>
					</a>
				</div>
				<div class="panel-body">
				{%if client.profession is null %}
					<a class="btn btn-xs" href="{{url('trc_client_profession',{radical:client.radical})}} ">
						Renseigner la Profession du client
					</a>
				{%else%}
					{%set emp = client.profession %}
					<table class="table table-condensed">
						<tr>
							<td>Fonction</td>
							<td> {{emp.fonction}} </td>
						</tr>
						<tr>
							<td>Type de fonction</td>
							<td> {{emp.typefonction.nom}} </td>
						</tr> 
						
						
					</table>
				{%endif%}
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-grey">
				<div class="panel-heading">
					
					Revenu
					<i class="fa-money fa"></i>
					<a class="pull-right" href="{{url('trc_client_revenu',{radical:client.radical})}} ">
						<i class="fa-edit fa "></i>
					</a>
				</div>
				<div class="panel-body">
				{%if client.revenu is null %}
					<a class="btn btn-xs" href="{{url('trc_client_revenu',{radical:client.radical})}} ">
						Renseigner le revenu du client
					</a>
				{%else%}
					{%set emp = client.revenu %}
					<table class="table table-condensed">
						<tr>
							<td>Revenu salarial</td>
							<td> {{emp.rsmn}} </td>
						</tr>
						<tr>
							<td>Autres revenus</td>
							<td> {{emp.natureAutresRevenus}} </td>
						</tr> 
						
						
					</table>
				{%endif%}
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-success">
				<div class="panel-heading">
					
					Logement
					<i class="fa-home fa"></i>
					<a class="pull-right" href="{{url('trc_client_logement',{radical:client.radical})}} ">
						<i class="fa-edit fa "></i>
					</a>
				</div>
				<div class="panel-body">
				{%if client.logement is null %}
					<a class="btn btn-xs" href="{{url('trc_client_logement',{radical:client.radical})}} ">
						Renseigner le logement du client
					</a>
				{%else%}
					{%set emp = client.logement %}
					<table class="table table-condensed">
						<tr>
							<td>Frais de location mensuelle</td>
							<td> {{emp.flm}} </td>
						</tr>
						<tr>
							<td>Statut</td>
							<td> {{emp.statut.nom}} </td>
						</tr> 
						
						
					</table>
				{%endif%}
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-info">
				<div class="panel-heading">
					
					PAC
					<i class="fa-phone fa"></i>
					<a class="pull-right" href="{{url('trc_client_pac',{radical:client.radical})}} ">
						<i class="fa-edit fa "></i>
					</a>
				</div>
				<div class="panel-body">
				{%if client.pac is null %}
					<a class="btn btn-xs" href="{{url('trc_client_pac',{radical:client.radical})}} ">
						Renseigner la pac du client
					</a>
				{%else%}
					{%set emp = client.pac %}
					<table class="table table-condensed">
						<tr>
							<td>Nom</td>
							<td> {{emp.nom}} </td>
						</tr>
						<tr>
							<td>Prenom</td>
							<td> {{emp.prenom}} </td>
						</tr> 
						{%set coor = emp.coordonnee%}
						<tr>
							<td>Ville</td>
							<td> {{coor.ville}} </td>
						</tr>
						<tr>
							<td>Boite postale</td>
							<td> {{coor.boitePostale}} </td>
						</tr>
						<tr>
							<td>Tel. Pro</td>
							<td> {{coor.telephoneProfessionnel}} </td>
						</tr>
						<tr>
							<td>Tel. Domicile</td>
							<td> {{coor.telephoneDomicile}} </td>
						</tr>
						<tr>
							<td>Tel. mobile</td>
							<td> {{coor.gsm}} </td>
						</tr>
						<tr>
							<td>Email</td>
							<td> {{coor.email}} </td>
						</tr>
						<tr>
							<td>Adresse</td>
							<td> {{coor.adresse}} </td>
						</tr>
						
					</table>
				{%endif%}
				</div>
			</div>
		</div>
	</div>
{%endblock content %}