<li class="dropdown">
    <a data-hover="dropdown" href="#" class="dropdown-toggle">
        <i class="fa fa-bell fa-fw"></i>
        {%if notifications|length > 0 %}
            <span class="badge badge-green">
                {{notifications|length}}
            </span>
        {%endif%}
    </a>
    <ul id="notifications" class="dropdown-menu dropdown-user pull-right">
        {%for noti in notifications %}
            <li>
                <a link="{{url('trc_core_notification',{id:noti.id})}} " class="notification"  href="#" data-toggle="modal" data-target=".modal-general">

                {{noti.titre}}
                {%if noti.alerte %}
                        <i class="fa-warning fa"></i>
                {%endif%}
                </a>
            </li>
        {%endfor%}
    </ul>
</li>
<li class="dropdown">
    <a data-hover="dropdown" href="#" class="dropdown-toggle">
        <i class="fa fa-envelope fa-fw"></i>
        <span class="badge badge-orange">7</span>
    </a>
</li>
<li class="dropdown">
    <a data-hover="dropdown" href="#" class="dropdown-toggle">
        <i class="fa fa-tasks fa-fw"></i>
        <span class="badge badge-yellow">8</span>
    </a>
    <ul class="dropdown-menu dropdown-user pull-right">
        <li>
            <a href="#">
                DDC déposé sur le BDDC par l'agence MOL par son agent EMILE
            </a>
        </li>
        <li>
            <a href="#">
                homme
            </a>
        </li>
    </ul>
</li>
<li class="dropdown topbar-user">
{%set utilisateur = getUtilisateurByCompte(app.user) %}
<a data-hover="dropdown" href="#" class="dropdown-toggle">
{%if utilisateur is not null %}
<img src="{{asset(utilisateur.image)}}" alt="" class="img-responsive img-circle"/>
{%else%}
<img src="{{asset('img/default.png')}}" alt="" class="img-responsive img-circle"/>
{%endif%}
 &nbsp;
 <span class="hidden-xs">{{app.user.username}} </span>&nbsp;<span class="caret"></span></a>
                        <ul class="dropdown-menu dropdown-user pull-right">
                            <li>
                                <label class="label label-success">
                                    Moi
                                </label>
                            </li>
                            <li>
                            <a href="#"><i class="fa fa-user"></i>Mon compte</a>
                            </li>
                            <li><a href="#"><i class="fa fa-calendar"></i>Mon calendrier</a></li>
                            <li><a href="#"><i class="fa fa-envelope"></i>Ma messagerié</a></li>
                       {% if is_granted("ROLE_ADMIN") %}
                            <li class="divider"></li>
                            <li>
                                <label class="label label-danger">
                                    Paramètres
                                </label>
                            </li>
                           
                            <li>
                                <a href="{{url('trc_admin_profils')}} ">
                                    <i class="fa fa-users"></i>
                                        Les profils
                                </a>
                            </li>
                            <li>
                                <a href="{{url('trc_admin_systemes')}} ">
                                    <i class="fa fa-tags"></i>
                                        Les phases
                                </a>
                            </li>
                            <li>
                                <a href="{{url('trc_admin_systemes')}} ">
                                    <i class="fa fa-tasks"></i>
                                        Les systèmes
                                </a>
                            </li>
                            <li>
                                <a href="{{url('trc_admin_tdc')}} ">
                                    <i class="fa fa-money"></i>
                                        Les crédits
                                </a>
                            </li>
                        {%endif%}
                            <li><a href="#"><i class="fa fa-lock"></i>Lock Screen</a></li>
                            <li><a href="{{url('trc_core_logout')}}"><i class="fa fa-key"></i>Log Out</a></li>
                        </ul>
                    </li>